<title>My Application Deployed Automatically</title>
    <h1>Hello World!</h1>
        Result is {{result}}

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
    Box 1 and box 2 takes starting and ending indices of the interval. You don't have to fill box 3
    <br>
    <strong style="color: #ff0000"><u>WARNING !</u></strong> Leave the 3<sup>rd</sup> box blank to get the correct result
</form>